body{
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/137487.jpg");
}
.details input{
    color:rgb(0, 0, 0);
    font-weight: bolder;
    width:500px;
    height:20px;
    margin:10px 0px 10px;
    background-color: #d8f3dc;
    opacity: 0.5;
    margin-left: 15%;;
}
.details input:hover{
    border-width: 5px;
}
input[type="checkbox"]{
    margin-left: 15%;
}
#profile{
    opacity:0.7;
}
label{
    color:#ffffff;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15%;
}
h1{
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:#3eea8c;
    width:270px;
    background-color: (0,0,255,0);
}
h1:hover{
    color:#3eea8c;
    text-decoration: solid underline;
}
hr{
    width:500px;
    margin-left:0%;
}
button{
    color:black;
    background-color: #d8f3dc;
    font-weight: bolder;
    width:200px;
    height: 30px;
    margin-top:10px;
    margin-left: 25%;
    opacity:0.8;
    margin-top: 10px;
}
button:hover{
    background-color: #ffffff;
    color:black;
    text-decoration: underline;
}